/* COLOR SCHEME: Gettysburg */
header {
 color: #348899;
 background-color: #343642;
 background-image: url("HeaderPic.png");
 background-repeat: no-repeat;
 background-position: right;
 border-radius: 10px 10px 0 0;
}

nav {
 color: #343642;
 background-color: #979C9C;
 padding: 5px 10px;
 font-size: 14pt;
 font-weight: bold;
 box-shadow: 0 10px 5px -5px #962D3E;
 position: relative;
}

nav a {
 text-decoration: none;
 color: #343642;
}

main {
 color: #17354A;
 background-color: #F2EBC7;
 padding: 10px;
 z-index: 0;
}

main a {
	color: #17354A;
}

body {
	font-family: Calibri, Helvetica, Arial, sans-serif;
	Background-color:#348899;
}

#wrapper {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

h1 {
	margin: 0;
	padding: 5px 10px;
	font-size: 42pt;
	line-height: 36pt;
	font-weight: lighter;
}

h2 {
	margin: 0;
	padding: 0 10px 5px;
	font-size: 18pt;
	line-height: 22pt;
	font-weight: lighter;
	font-style: italic;
}

footer {
 color: #348899;
 background-color: #343642;
 padding: 5px 10px;
 font-size: 10pt;
 font-style: italic;
 border-radius: 0 0 10px 10px;
}

.details { color: #F2EBC7; background-color: #962D3E; }
header, section, footer, aside, nav, main, article, figure {
 display: block;
}